img {
  max-width:40%;
  max-height:50%;
  float: right;
  margin: 10px auto;
  margin-right: 10px;
}

.ingredient.list {
    list-style-type: square;
    margin-left: 80px;
}

.card-title{
    margin-left: 200px;
    font-size: 10px;
    color: orangered;
}

.breadtype{
        margin-left: 50px;
        font-size: 20px;

}

.breadtext{
        margin-left: 10px;

}

.recipe-buttons{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 40px;
}

.input-field.col.s12 {
    padding-left: 10px;
}

.validate{
    padding-left: 10px !important;
    padding-right: 10px;
}

.select-wrapper input.select-dropdown{
    padding-left: 10px ;
    padding-right: 10px;
}

@media screen and (max-width: 743px){
.card-title{
    margin-left: 2px;
    font-size: 50%;
    }
img {
  max-width:20%;
  max-height:30%;
  float: left;
  margin: 10px auto;
  margin-right: 10px;
}
.breadtype{
        margin-left: 2px;
        font-size: 20px;
        display: block;
}
.breadtext{
        margin-left: 10px;
}
nav .brand-logo{
    font-size: 150%;
}
.btn, .btn-large, .btn-small{
        display: block;
        font-size: 70%;
}
.input-field .prefix ~ label{
        font-size: 70%;

}
}
