{% extends "base.html" %}
{% block content %}


    
    {% for recipe in recipes %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text orange lighten-3 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn-small green accent-4">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ recipe.recipe_name }}</strong>
                </div>
        </div>
        <div class="collapsible-body">
            <p>{{ recipe.bread_type }}</p>
            <p>{{ recipe.recipe_ingredient }}</p>
            <p><em>by: {{ recipe.created_by }}</em></p>
            <img src="{{ recipe.image }}" alt="" height="180" width="250">
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
