{% extends "base.html" %}
{% block content %}

<!-- {% for recipe in recipes %}
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="{{ recipe.image }}"></a>
  </div>
{% endfor %} -->

{% for recipe in recipes %}
<div class="container recipe-container">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-title recipe-title">{{ recipe.recipe_name }}<img src="{{ recipe.image }}" alt="Recipe Image"></h2>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-bread-slice"></i>{{ recipe.bread_type }}</h5>
                        <ul>
                            {% for ingredient in recipe.recipe_ingredient %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    <div class="recipe-buttons">
                        <a href="" class="btn btn-success">Edit Recipe</a>
                        <a href="" class="btn btn-success">Delete Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- recipe card -->    
<!-- {% for recipe in recipes %}
<div class="row">
    <div class="col s6">
        <div class="card">
            <span class="card-title"><strong>{{ recipe.recipe_name }}</strong></span>
        </div>
        <div class="card-content">
            <ul>
                {% for ingredient in recipe.recipe_ingredient %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>


{% endfor %} -->

{% endblock %}
